@import "tailwindcss";

@theme {
  --color-brand-1: #ee1d23;
  --color-brand-2: #fcb740;
}

@font-face {
  font-family: "Berlin";
  src: url("/font/berlin-sans-fb-regular.ttf") format("truetype");
  font-weight: 500;
}

body {
  font-family: "Berlin", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

label {
  width: 100%;
}
